# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ConsoleApplication1.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\rider_workspace\ConsoleApplication1\.idea\.idea.ConsoleApplication1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
